@model IEnumerable<WintersAuthorSite_MVC.Publication>

@{
    ViewData["Title"] = "Publications";
}

<h2>Publications</h2>

<table class="table">
    <tbody>
        @foreach (Publication item in Model)
        {
            <tr>
                <td id="viewCell" class="text-center">
                    <br />
                    <br />
                    <a href="@item.Link" class="btn btn-secondary center-vertically" target="_blank">View</a>
                    <br />
                    <br />
                </td>
                <td id="titleCell">
                    <span style="font-style:@item.Style;">@item.Title</span>
                    <br />
                    <br />
                    @($"{item.Date:M/d/yyyy}")
                    <br />
                    <br />
                    <i>@item.Publisher</i>
                </td>
                <td id="snippetCell">
                    <p>
                        @item.Snippet
                    </p>
                </td>
                <td id="imageCell" class="d-none d-sm-block">
                    <img class="cover rounded" src="~/img/publications/@item.ImageName" alt="@item.ImageName" />
                </td>
            </tr>
        }
    </tbody>
</table>
